@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
body {
  /* background-image: linear-gradient(to bottom, #1B1B35, #4953EC, #111); */
  background-image: url('./assets/images/back.png');
  background-position: 'center';
  background-repeat: no-repeat;
  background-size: cover;
}
